{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/events/nfl/NFL2016banner.jpg' %}" alt="Banner" width="100%">
        </div>
        <div class="col-md-12">
            NFL 2016 has ended successfully. Thank you to all the participating teams and their executive bodies for cooperating with us throughout the event.

            The honours of the tournament are as follows:

            Champion- AANSU All Stars
            Runner's Up - NSU Athletics Club

            Top Scorer - Omar Mostafiz(AANSU All Stars)
            Best Goalkeeper - Tanzir(AANSU All Stars)
            Best Defender- Chanchal (AANSU All Stars)
            Player of the tournament -Mirza (NSU Athletics Club)

            Ultimate team of NFL 2016-
            1. Tanzir (AANSU All Stars)
            2. Rakin (YES Club )
            3. Mirza (Athletics Club)
            4. Chanchal (AANSU All Stars)
            5. Monayem (AANSU All Stars)
            6. Shehzad (YES Club)
            7. Anik (YES Club)
            8. Nahid Rizwan (TMC NSU)
            9. Omar (AANSU All Stars)
            Thank you everyone. We hope to see you next year.
            Be Spirited!


        </div>

    </div>

    <div class="row">
        <div class="col-md-12">


        </div>

    </div>
</div>
{% block body %}
{% endblock %}
