{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/events/nfl/NFL2016banner.jpg' %}" alt="Banner" width="100%">
        </div>
        <div class="col-md-12">
            NFL 2016 has ended successfully. 
            Thank you to all the participating teams and their executive bodies for 
            cooperating with us throughout the event.
            <br/>

            The honours of the tournament are as follows:<br/><br/>

            Champion- AANSU All Stars<br/>
            Runner's Up - NSU Athletics Club<br/><br/>

            Top Scorer - Omar Mostafiz(AANSU All Stars)<br/>
            Best Goalkeeper - Tanzir(AANSU All Stars)<br/>
            Best Defender- Chanchal (AANSU All Stars)<br/>
            Player of the tournament -Mirza (NSU Athletics Club)<br/><br/>

            <ul style="list-style: none;">
                <h5>
                    Ultimate team of NFL 2016
                </h5>
                <li>1.  anzir (AANSU All Stars)</li>
                <li>2. Rakin (YES Club )</li>
                <li>3. Mirza (Athletics Club)</li>
                <li>4. Chanchal (AANSU All Stars)</li>
                <li>5. Monayem (AANSU All Stars)</li>
                <li>6. Shehzad (YES Club)</li>
                <li>7. Anik (YES Club)</li>
                <li>8. Nahid Rizwan (TMC NSU)</li>
                <li>9. Omar (AANSU All Stars)</li>

            </ul>
            Thank you everyone. We hope to see you next year.<br/>
            Be Spirited!


        </div>

    </div>

    <div class="row">
        <div class="col-md-12">


        </div>

    </div>
</div>
{% block body %}
{% endblock %}
