{% load static %}

<style type="text/css">
    .title {
        box-shadow: 0px 3px 10px 10px #999;
    }

    .champ {
        box-shadow: 3px 3px 5px 6px #F9F;
        padding: 2vw;
    }

    .runners {
        box-shadow: 3px 3px 5px 6px #99F;
        padding: 2vw;
    }

</style>
<div class="container w">
    <div class="row">
        <div class="col-md-12">
            <h3>Winners</h3>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 title">
            <h3>Season 2019</h3>
        </div>
        <div class="col-md-7 col-xs-12 champ">
            <h5>Champion</h5>
            <img src="">
            <h6>NSU Pharmaceutical Club</h6>

        </div>
        <div class="col-md-5 col-xs-12 runners">
            <h5>Runners Up</h5>
            <img src="">
            <h6>NSU Sangskritik Sangathan</h6>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 title">
            <h3>Season 2018</h3>
        </div>
        <div class="col-md-7 col-xs-12 champ">
            <h5>Champion</h5>
            <img src="">
            <h6>NSU Athletics Club</h6>

        </div>
        <div class="col-md-5 col-xs-12 runners">
            <h5>Runners Up</h5>
            <img src="">
            <h6>NSU Social Service Club</h6>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 title">
            <h3>Season 2016</h3>
        </div>
        <div class="col-md-7 col-xs-12 champ">
            <h5>Champion</h5>
            <img src="">
            <h6>NSU Social Service</h6>

        </div>
        <div class="col-md-5 col-xs-12 runners">
            <h5>Runners Up</h5>
            <img src="">
            <h6>NSU Diversity Club</h6>

        </div>
    </div>
</div>
{% block body %}
{% endblock %}
