{% load static %}

<style type="text/css">
    .title {
        box-shadow: 0px 3px 10px 10px #1991CB;
    }

    .champ {
        box-shadow: 0px 3px 10px 10px #1991CB;
        padding: 2vw;
    }

    .runners {
        box-shadow: 0px 3px 10px 10px #1991CB;
        padding: 2vw;
    }
    .teams img{           
        width: 30%;
        min-height: 180px;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }

</style>
<div class="container w">
    <div class="row">
        <div class="col-md-12">
            <h3>Winners</h3>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 title">
            <h3>Season 2019</h3>
        </div>
        <div class="col-md-7 col-xs-12 champ teams">
            <img src="{% static 'images/clubs/nsu_pc.png' %}" alt="nsupc">
            <h5>NSU Pharmaceutical Club</h5>
            <h6>Champion</h6>
        </div>
        <div class="col-md-5 col-xs-12 runners teams">
            <img src="{% static 'images/clubs/nsu_ss.png' %}" alt="nsuss">
            <h5>NSU Sangskritik Sangathan</h5>
            <h6>Runners Up</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 title">
            <h3>Season 2018</h3>
        </div>
        <div class="col-md-7 col-xs-12 champ teams">
            <img src="{% static 'images/clubs/nsu_ac.png' %}" alt="nsuac">
            <h5>NSU Athletics Club</h5>
            <h6>Champion</h6>
        </div>
        <div class="col-md-5 col-xs-12 runners teams">
            <img src="{% static 'images/clubs/nsu_ssc.png' %}" alt="nsussc">
            <h5>NSU Social Service Club</h5>
            <h6>Runners Up</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 title">
            <h3>Season 2016</h3>
        </div>
        <div class="col-md-7 col-xs-12 champ teams">

            <img src="{% static 'images/clubs/nsu_ssc.png' %}" alt="nsussc">
            <h5>NSU Social Service</h5>
<h6>Champion</h6>
        </div>
        <div class="col-md-5 col-xs-12 runners teams">
            <h5>Runners Up</h5>
            <img src="{% static 'images/clubs/nsu_edc.png' %}" alt="nsuedc">
            <h5>NSU Diversity Club</h5>
            <h6>Runners Up</h6>
        </div>
    </div>
</div>
{% block body %}
{% endblock %}
