

{% load static %}
<style>
    .rules img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>
<div class="container">
    <h1>Chess Rules</h1>
    <div class="row rules">
        <img src="{% static 'images/events/ChessCarrom/chessRule1.jpg' %}" alt="">
    </div>
    <div class="row rules">
        <img src="{% static 'images/events/ChessCarrom/chessRule2.jpg' %}" alt="">
    </div>
    <h1>Carrom Rules</h1>
    <div class="row rules">
        <img src="{% static 'images/events/ChessCarrom/carromRule1.jpg' %}" alt="">
    </div>
</div>