
<!--============================= Faq =============================-->
<div class="faq">
<div class="container p_align">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;color: white;padding: 10px;">FAQ</h2>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                    <a data-toggle="collapse" class="accordian-link" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     What is NSUAC?
                  </a>
              </h5>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                         <p class="p_align">North South University Athletics Club or popularly
                              known as NSUAC is the only club which organizes all the sports 
                              activities of North South University. Since NSUAC was established in 1995, 
                              it takes pride in the successful organization of different sporting events 
                              that help break the monotony of academic life and emanate the best of athletic 
                              talents among students.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                <a class="collapsed accordian-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 What are the activities & events of NSUAC?
              </a>
          </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <p class="p_align">In North South University Athletics Club we work together as a team and we organize all the sports affairs of North South University. We represented NSU at various sporting event and walked out as champions. NSUAC honors the champions through a prize-giving event for every sport. NSU Cricket League, NSU Football League, NSU Shuttle Mater, NSU Intra Batch Cricket Tournament, NSU Intra Batch Football Tournament, NSU Chess Master & Carom Champ and NSU Inter Private University Sports Carnival are some of the competitions arranged by NSUAC.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
            <a class="collapsed accordian-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             What I will achieve from this club?
          </a>
      </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        <p class="p_align">NSUAC will introduce you with a vast community where you will learn various things from people such as Leadership, Team Work, Problem Solving, Responsibility, Self-Discipline, Mutual Respect and Social Skills. You will get the chance of learning extracurricular activities and professional skills from the club. Moreover, you will see a better version of yourself here.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                    <h5 class="mb-0">
        <a class="collapsed accordian-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          What hierarchy does NSUAC follow?
        </a>
    </h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-block">
                        <p class="p_align">Each and every organization follows a chain of command and so does ours. At the bottom of the hierarchy, are our Probationary Members, right on the top of the Probationary Members are the General Members followed by our Sub Executive Body Members. At the peak of the hierarchy are our Executive Body Members.</p>
                        <p class="p_align">Probationary members-> General Members-> Sub Executive Body members-> Executive Body Members</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFive">
                    <h5 class="mb-0">
        <a class="collapsed accordian-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
           What are the most anticipated events of NSUAC?
        </a>
    </h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card-block">
                        <p class="p_align">The most anticipated and fierce fighting championships are the NFL and NCL. All the clubs of NSU compete in the battleground to display their caliber in football and cricket in order to receive great recognition and respect. The club can also boast about organizing the first inter-private university sports competition popularly known as the ‘Sports Carnival’ in which all the private universities of Bangladesh participate in five different sports categories. This mega event, known for its magnificence and grandeur, has been hailed as one of the biggest sports events in the country. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFive">
                    <h5 class="mb-0">
        <a class="collapsed accordian-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
           What are the entry requirements for NSUAC?
        </a>
    </h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card-block">
                        <p class="p_align">In every semester, there is a golden opportunity to join NSUAC. You do not need any special skills to join our club. You just have to fill up registration forms and go through a small interview. For more details visit our official Facebook page and wait for the recruitment notice of NSUAC. </p>
                        <p class="p_align">Facebook Page: <a href="https://www.facebook.com/nsuathleticsclub/">North South University Athletics Club</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--//End Faq -->
