{% load static %}
<style>

</style>
<div class="container">
    <p>The NSU Cricket League is referred to as NCL. The first season of NCL took place back in 2016.  It consists of cricket tournaments between two categories. The first category comprises cricket tournaments among all clubs of NSU in which the clubs compete to show off their cricket talent. The second group is for NSU staff and faculty members where they participate department-wise.
To begin with the NCL procedure, we collect information from the NSU clubs to facilitate NCL among them. Here, we double-check the squad leader's and other players' information. Before the tournament, we hold a practice session for all the teams. The events’ rules and regulations chart are sent out ahead of time. On the day of the game, the players arrive with appropriate attire. The field is packed with people who are ecstatic about their club. NSUAC volunteers work tirelessly to ensure that the game runs smoothly.  The tournament starts right on time. The participating teams are divided into four groups. From here, eight teams are advanced to the quarterfinals. Then the top four teams are advanced to the semifinals. Finally, the winning two teams are advanced to the finals for the ultimate glory to become the champion of NSU. 
The prize-giving ceremony is held on a specific date. Our honorable Vice-Chancellor and faculty members also remain on the guestlist for the prize-giving ceremony. The teams feel rapturous when they receive their awards as it’s a moment of glory for their club. 
</iframe>
                    </p>

</div>