{% load static %}
<style>
    .rules {
        text-align: justify;
        font-size: 2vw;
    }

    .rules>h1 {
        font-size: 3vw;
    }

    @media (max-width: 992px) and (min-width: 768px) {
        .rules {
            font-size: 2vw;
        }

        .rules>h1 {
            font-size: 5vw;
        }
    }

    @media (max-width: 767px) {
        .rules {
            font-size: 4vw;
        }

        .rules>h1 {
            font-size: 6vw;
        }

</style>
<div class="container">
    <div class="row rules">
        <h1><b>NCL Rules & Regulations:</b></h1>
        1. Only current students of NSU who are enrolled in this semester are allowed to play in the tournament. <br>
        2. A team can take only 1 pool player in the squad so that everyone has a fair chance in having a pool player in the squad.<br>
        3. No Alumni are allowed to play in the tournament due to security reasons.<br>
        4. Squad limit – 12 players<br>
        5. 8 players per team in a match<br>
        6. 7 overs per innings. A team must finish the quota of 7 overs in 21 minutes.<br>
        7. 2 bowlers can bowl a maximum of 2 overs, other bowlers can bowl one over.<br>
        8. A batsman will have to force retire after scoring 30 runs. He can only come to bat after all the other batsmen in the team are out. If more than one batman scores 30 & retires, then the order of retiring will be followed while coming back to bat. <br>
        9. A batsman can hit straight 6 only. If the ball goes straight, hits the bamboo directly and comes back in the field, it will be counted as 6 runs. If it goes outside after hitting the bamboo or goes out of the field directly in any other way, the batsman will be declared out. <br>
        10. If a batsman hits the ball to the back wall after drop, then it’ll be declared as 2 runs. If it hits the wall on the full or goes out directly, the batsman will be declared out. <br>
        11. If a batsman hits the ball to the left or right-side wall after drop, then it’ll be declared as 4 runs. If it hits the wall on the full or goes out directly, the batsman will be declared out. <br>
        12. A batsman can get out by getting bold, caught, stumped, run-out, hit out, hit the ball outside the field, obstructing the field. <br>
        13. No LBW out will be given. No run will be counted if the ball hits the leg of the batsman. <br>
        14. 2 runs will be awarded for a wide or a no-ball. <br>
        15. All no-balls will be given a free hit. <br>
        16. If a bowler bowls 2 full toss no-balls, he can’t bowl any further in the innings. A new bowler will be given the ball to finish the over. If a team can’t finish overs because of bowler shortage, then a bowler who has finished his bowling quota can finish the over, but 6 run penalties will be awarded to the batting team. <br>
        17. If a batsman hits a no-ball or a free hit on the left, right, back side on the full or hits it outside the field directly, he won’t be adjudged as out. No run will be awarded for the shot as well to the batting team. <br>
        18. The last batsman can bat alone. But he cannot take any singles or doubles. The only way for him to score runs are hitting a 2, 4 or 6. <br>
        19. Chuck balls are not allowed. The bowler will be given a warning 1st time, from the next time no-ball will be called. <br>
        20. If a game progresses 25% (4overs of the 1st innings is played) & then rain starts and if the game doesn’t start again, it will be declared as a drawn match. Otherwise, a rematch will be played. <br>
        21. The match will go into D/L method if 3 overs of the 2nd innings are played and rain interrupts. D/L calculation will be done using D/L calculator of NSUAC members.
        22. The batting team can select any 1 over among 1-5 overs and whatever runs they score in the over will be doubled in the scoreboard. This over will be called ‘POWER OVER’ & the batting team must call it before the start of the over. If a team doesn’t call for the Power Over among 1-4 over, then the 5th over will become the Power Over automatically. The bonus runs will be counted as extra runs in the score sheet. If a bowler takes the ball in his hand and then the batsmen calls for the power over, the captain of the bowling team cannot change the bowler. <br>
        23. In the group stage, 3 points will be awarded for a win, 1 point will be awarded for a draw and 0 point will be awarded for a loss. <br>
        24. If a match ends in a tie, then the result will be decided in a super over game. <br>
        25. If 2 teams in the group has same number of points, then the team with better Net Run Rate (NRR) will go through. If they have same NRR, then head-to-head will be counted. If they can’t be separated after that also, then a super over match will be played. <br>
        26. Teams must report at least 15 minutes before the start of their match. Failing to do so will result in deduction of 1 over for per 5 minutes of delay. <br>
        27. Any decision taken by the umpires will be adjudged as the final decision & no objection can be made. <br>
        28. Any mishap in the field like fighting or not accepting to umpire’s decision will result in disqualification of the team for this tournament and will receive a ban for the next tournament. <br>
        29. Photocopy of current semester’s advising slip and student ID card of all the players must be submitted prior to the event. Failure to do so will automatically disqualify a team from the tournament. All the photocopies will be sent to the registrar’s office for verification. If any of the players of a team are not enrolled, then the team will be disqualified. <br>
        30. NSUAC authority has the right to change any rule after a prior instruction is given.
    </div>
</div>
