{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/events/NCL/NCL2018banner.jpg' %}" alt="Banner" width="100%">
        </div>

        <div class="col-md-12">
            <p style="text-align:justify;">NSU Athletics Club is here with the 2nd edition of NORTH SOUTH UNIVERSITY CRICKET LEAGUE (NCL). This is a cricket event which lured a number of students and even the faculty and admin personnel. As before, it will be an event where faculties as well as students will participate in a two phase tournament. A tournament will be held for all the clubs of NSU and a seperate tournament will be held for the faculties & admin personnel as well. The venue of the event is NSU Field.
                <br>
                Participating Clubs:
                Art & Photography Club,
                Athletics Club,
                Bioscience Club,
                Cine & Drama Club,
                Communication Club,
                Computer & Engineering Club,
                Debate Club,
                Diversity Club,
                Earth Club,
                Ethics Club,
                Finance Club,
                Human Resource Club,
                Law & Mooting Society,
                Master of Business Administration Club,
                Model UN Club,
                Pharmacy Club,
                Shangskritik Shangathan,
                Social Service Club,
                Young Economists’ Forum,
                Young Entrepreneurs Society,
                <br>The tournament will kick start on March 6, and end on March 17, 2018. So, come up and support your favourite club and faculties in a event that will mesmerize and blow everyone's mind.
                <br>#NCL2018 <br> #20Clubs1Champion
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Group Round<br><br>Points Table</h4>
            <table class="table">
                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group A</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>A1</td>
                        <td>Pharmaceutical Club</td>
                        <td>4</td>
                        <td>4</td>
                        <td>0</td>
                        <td>0</td>
                        <td>12</td>
                        <td>+7.6097</td>
                    </tr>
                    <tr class="Q">
                        <td>A2</td>
                        <td>Earth Club</td>
                        <td>4</td>
                        <td>3</td>
                        <td>0</td>
                        <td>1</td>
                        <td>9</td>
                        <td>+6.3153</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Art & Photography Club</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>2</td>
                        <td>3</td>
                        <td>-3.0012</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Computer & Engineering Club</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>0</td>
                        <td>-10</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Ethics Club</td>
                        <td>3</td>
                        <td>0</td>
                        <td>0</td>
                        <td>3</td>
                        <td>0</td>
                        <td>-10.1941</td>
                    </tr>
                </tbody>
                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group B</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>B1</td>
                        <td>Human Resource Club</td>
                        <td>3</td>
                        <td>3</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9</td>
                        <td>+7.5525</td>
                    </tr>
                    <tr class="Q">
                        <td>B2</td>
                        <td>Law & Mooting Society</td>
                        <td>3</td>
                        <td>2</td>
                        <td>0</td>
                        <td>1</td>
                        <td>6</td>
                        <td>+3.7681</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Social Services Club</td>
                        <td>3</td>
                        <td>2</td>
                        <td>0</td>
                        <td>1</td>
                        <td>6</td>
                        <td>+2.8722</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Debate Club</td>
                        <td>4</td>
                        <td>1</td>
                        <td>0</td>
                        <td>3</td>
                        <td>3</td>
                        <td>-2.1428</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Communications Club</td>
                        <td>3</td>
                        <td>0</td>
                        <td>0</td>
                        <td>3</td>
                        <td>0</td>
                        <td>-8.1390</td>
                    </tr>
                </tbody>

                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group C</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>C1</td>
                        <td>Athletics Club</td>
                        <td>4</td>
                        <td>3</td>
                        <td>0</td>
                        <td>1</td>
                        <td>9</td>
                        <td>+4.6320</td>
                    </tr>
                    <tr class="Q">
                        <td>C2</td>
                        <td>Finance Club</td>
                        <td>4</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>6</td>
                        <td>-0.0270</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Masters of Business Administration Club</td>
                        <td>4</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>6</td>
                        <td>-0.6157</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Shangskritik Shangathan</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>2</td>
                        <td>3</td>
                        <td>-2.0018</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Model UN Club</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>2</td>
                        <td>3</td>
                        <td>-3.7591</td>
                    </tr>
                </tbody>

                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group D</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>D1</td>
                        <td>Young Entrepreneurs Society</td>
                        <td>3</td>
                        <td>3</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9</td>
                        <td>+6.5440</td>
                    </tr>
                    <tr class="Q">
                        <td>D2</td>
                        <td>Cine & Drama Club</td>
                        <td>2</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>6</td>
                        <td>+6.0238</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Young Economist’s Forum</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>2</td>
                        <td>3</td>
                        <td>-3.1495</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Bio Science Club</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>2</td>
                        <td>3</td>
                        <td>-1.8071</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Diversity Club</td>
                        <td>3</td>
                        <td>0</td>
                        <td>0</td>
                        <td>3</td>
                        <td>0</td>
                        <td>-5.9893</td>
                    </tr>
                </tbody>
            </table>

            <h4>Knockout Round</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td></td>
                        <td><b>Quarter Final 1</b><br>PC vs <b>SSC</b></td>
                        <td></td>
                        <td><b>Quarter Final 4</b><br>YES vs <b>SS</b></td>
                        <td></td>
                        <td><b>Quarter Final 2</b><br><b>AC</b> vs CDC</td>
                        <td></td>
                        <td><b>Quarter Final 3</b><br><b>HRC</b> vs EC</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Semi Final 1</b><br><b>SSC</b> vs SS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Semi Final 2</b><br><b>AC</b> vs HRC</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Final</b><br>SSC vs <b>AC</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% block body %}
{% endblock %}
