{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/events/NCL/NCL2019banner.jpg' %}" alt="Banner" width="100%">
        </div>

        <div class="col-md-12">
            <p style="text-align:justify;">NSU Cricket League (NCL) 2019 organized by NSU Athletics Club
                North South University Athletics Club (NSUAC) is the only club in NSU that maneuvers all the sports based events of NSU. Annually NSUAC organizes seven events on a regular basis. NSU Cricket League (NCL) 2019 is one of the main event of those seven. This is an intra NSU cricket tournament. In NCL all the clubs of NSU under Student Affairs participates. The tournament of NCL 2019 will proceed through the Round Robin System and at last one team will become the champion. There are four stages in the tournament. <br>
                Group Stage –
                All the clubs of NSU will be divided into four groups. Then the teams will face each other within the groups. The group champions and the group runner-ups will proceed to the next round, i.e. the quarter finals. <br>
                Quarter Finals –
                The group champions and the group runner-ups from the four groups will play in the quarter finals. Each team will play one knockout match. The group champions from each group will face one of the group runner-ups from another group. So 8 teams will play 4 matches. The four winners will proceed to the semi-finals. <br>
                Semi- Finals –
                The 4 winning teams of the four quarter finals will play in the semi-finals. There will be two semi-final matches. Each team of the 4 will play one match. The winning teams of the semi-finals will qualify for the final match. <br>
                Finals –
                The 2 winning teams of the semi-finals will face each other in the final match. The winner of the final match will be regarded as the Champion of NCL 2019. <br>
                The tournament is full of thrill, intensity and hunger for the respect of cricket in NSU. We hope to see you all at NSU Cricket League (NCL) 2019 organized by NSU Athletics Club from November 23, 2019 at NSU Field. <br>
                #NCL2019 <br>
                #DemandRespectOrExpectDefeat <br>
                #BeSpiritedWithNSUAC
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Group Round<br><br>Points Table</h4>
            <table class="table">
                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group A</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>A1</td>
                        <td>Shangskritik Shangathan</td>
                        <td>4</td>
                        <td>4</td>
                        <td>0</td>
                        <td>0</td>
                        <td>12</td>
                        <td>+3.62</td>
                    </tr>
                    <tr class="Q">
                        <td>A2</td>
                        <td>Masters of Business Administration Club</td>
                        <td>4</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>6</td>
                        <td>+0.35</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Ethics & Diversity Club</td>
                        <td>4</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>6</td>
                        <td>-0.18</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Communications Club</td>
                        <td>4</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>6</td>
                        <td>-1.60</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Young Economist’s Forum</td>
                        <td>4</td>
                        <td>0</td>
                        <td>0</td>
                        <td>4</td>
                        <td>0</td>
                        <td>-1.88</td>
                    </tr>
                </tbody>
                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group B</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>B1</td>
                        <td>Pharmaceutical Club</td>
                        <td>5</td>
                        <td>4</td>
                        <td>0</td>
                        <td>1</td>
                        <td>12</td>
                        <td>+3.57</td>
                    </tr>
                    <tr class="Q">
                        <td>B2</td>
                        <td>Finance Club</td>
                        <td>5</td>
                        <td>4</td>
                        <td>0</td>
                        <td>1</td>
                        <td>12</td>
                        <td>+1.48</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Art & Photography Club</td>
                        <td>5</td>
                        <td>3</td>
                        <td>0</td>
                        <td>2</td>
                        <td>9</td>
                        <td>+3.03</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Young Entrepreneurs Society</td>
                        <td>5</td>
                        <td>2</td>
                        <td>0</td>
                        <td>3</td>
                        <td>6</td>
                        <td>-0.67</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Social Services Club</td>
                        <td>5</td>
                        <td>2</td>
                        <td>0</td>
                        <td>3</td>
                        <td>6</td>
                        <td>-2.21</td>
                    </tr>
                    <tr class="N">
                        <td>6</td>
                        <td>Debate Club</td>
                        <td>5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>5</td>
                        <td>0</td>
                        <td>-13.70</td>
                    </tr>
                </tbody>
                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group C</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>C1</td>
                        <td>Human Resource Club</td>
                        <td>4</td>
                        <td>3</td>
                        <td>0</td>
                        <td>2</td>
                        <td>9</td>
                        <td>+3.60</td>
                    </tr>
                    <tr class="Q">
                        <td>C2</td>
                        <td>Cine & Drama Club </td>
                        <td>4</td>
                        <td>3</td>
                        <td>0</td>
                        <td>1</td>
                        <td>9</td>
                        <td>+1.25</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Computer & Engineering Club</td>
                        <td>4</td>
                        <td>3</td>
                        <td>0</td>
                        <td>1</td>
                        <td>9</td>
                        <td>+0.36</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Law & Mooting Society</td>
                        <td>4</td>
                        <td>1</td>
                        <td>0</td>
                        <td>3</td>
                        <td>3</td>
                        <td>+0.57</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Model UN Club</td>
                        <td>4</td>
                        <td>0</td>
                        <td>0</td>
                        <td>4</td>
                        <td>0</td>
                        <td>-7.93</td>
                    </tr>
                </tbody>
                <thead style="text-align: center">
                    <tr>
                        <th colspan="8">
                            <h6>Group D</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                        <th>Run Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="Q">
                        <td>D1</td>
                        <td>Athletics Club</td>
                        <td>4</td>
                        <td>3</td>
                        <td>0</td>
                        <td>1</td>
                        <td>9</td>
                        <td>+2.96</td>
                    </tr>
                    <tr class="Q">
                        <td>D2</td>
                        <td>Public Health & Sciences Club</td>
                        <td>4</td>
                        <td>3</td>
                        <td>0</td>
                        <td>1</td>
                        <td>9</td>
                        <td>+2.29</td>
                    </tr>
                    <tr class="N">
                        <td>3</td>
                        <td>Earth Club </td>
                        <td>4</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                        <td>-0.567</td>
                    </tr>
                    <tr class="N">
                        <td>4</td>
                        <td>Bioscience Club</td>
                        <td>4</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                        <td>-2.66</td>
                    </tr>
                    <tr class="N">
                        <td>5</td>
                        <td>Marketing and International Business Club</td>
                        <td>4</td>
                        <td>1</td>
                        <td>0</td>
                        <td>3</td>
                        <td>3</td>
                        <td>-1.66</td>
                    </tr>
                </tbody>
            </table>
            <h4>Knockout Round</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td></td>
                        <td><b>Quarter Final 1</b><br><b>PC</b> vs PHSC</td>
                        <td></td>
                        <td><b>Quarter Final 3</b><br><b>AC</b> vs FC</td>
                        <td></td>
                        <td><b>Quarter Final 2</b><br><b>HRC</b> vs MBAC</td>
                        <td></td>
                        <td><b>Quarter Final 4</b><br><b>SS</b> vs CDC</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Semi Final 1</b><br><b>PC</b> vs AC</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Semi Final 2</b><br>HRC vs <b>SS</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Final</b><br><b>PC</b> vs SS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% block body %}
{% endblock %}
