{% load static %}
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Panel 2017-18</h2>
            <h3>Executives</h3>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Tanvir Hasan</h5>
            <h6>President</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Imtiaz Kabir</h5>
            <h6>General Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Ornob Olindo</h5>
            <h6>Vice-President</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Abdullah Al Prince</h5>
            <h6>Vice-President</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 extra-box">
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Atique Khan</h5>
            <h6>Treasurer</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Samiur Rahman</h5>
            <h6>Joint Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12 extra-box">
        </div>
    </div>
</div>
<div style="display:none;">
    <h3>Sub-Executives</h3>
    <p>
    <table style="width: 100%;">
        <tr>
            <td>Shumaiya Karim</td>
        </tr>
        <tr>
            <td>Afroza Akther</td>
        </tr>
        <tr>
            <td>Khondoker Mohammad</td>
        </tr>
        <tr>
            <td>Belal Uddin</td>
        </tr>
        <tr>
            <td>Shakibul Islam</td>
        </tr>
        <tr>
            <td>AK Jilany</td>
        </tr>
        <tr>
            <td>Tanveer Mahmood</td>
        </tr>
        <tr>
            <td>Irtiza Hasan</td>
        </tr>
        <tr>
            <td>Helal Uddin</td>
        </tr>
        <tr>
            <td>Saif Ahmed</td>
        </tr>
        <tr>
            <td>Yaminul Islam Himu</td>
        </tr>
        <tr>
            <td>Tanzil Jamal Joy</td>
        </tr>

    </table>
    </p>
</div>

{% block body %}

{% endblock %}
