{% load static %}
<h2>2013-14</h2>
<h3>Executives</h3>

<p>
<table style="width: 100%;">
    <tr>
        <td>Newaz Noor-Ul Wahab</td>
        <td>President</td>
    </tr>
    <tr>
        <td>Ahmed Faisal</td>
        <td>General Secretary</td>
    </tr>
    <tr>
        <td>Syed Omar Sakif</td>
        <td>Vice-President</td>
    </tr>
    <tr>
        <td>Rayhan Mahmud</td>
        <td>Vice-President</td>
    </tr>
    <tr>
        <td>Rahinul Islam Mridul</td>
        <td>Treasurer</td>
    </tr>
    <tr>
        <td>Kowshiqur Rahman</td>
        <td>Head of Sub-EB</td>
    </tr>
</table>
</p>
<div style="display:none;">
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnsuathleticsclub%2Fposts%2F3442110979175539&show_text=false&width=500" width="500" height="421" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>
{% block body %}

{% endblock %}
