{% load static %}

                <h2>2018-19</h2>
                <h3>Executives</h3>
                <p>
                <table style="width: 100%;">
                    <tr>
                        <td>Imtiaz Kabir</td>
                        <td>President</td>
                    </tr>
                    <tr>
                        <td>Syed Tanveer Mahmood</td>
                        <td>General Secretary</td>
                    </tr>
                    <tr>
                        <td>AK Jilany</td>
                        <td>Vice-President</td>
                    </tr>
                    <tr>
                        <td>Afroza Akhter</td>
                        <td>Vice-President</td>
                    </tr>
                    <tr>
                        <td>Khandokhar Fahim</td>
                        <td>Treasurer</td>
                    </tr>
                    <tr>
                        <td>Helal Uddin</td>
                        <td>Joint Secretary</td>
                    </tr>
                    <tr>
                        <td>Belal Uddin</td>
                        <td>Joint Secretary</td>
                    </tr>
                    <tr>
                        <td>Samiur Rahman</td>
                        <td>Advisor</td>
                    </tr>
                </table>
                </p>
                <h3>Sub-Executives</h3>
                <p>
                <table style="width: 100%;">
                    <tr>
                        <td>Sayem Mahmud</td>
                    </tr>
                    <tr>
                        <td>Imran Mahmud Sadman</td>
                    </tr>
                    <tr>
                        <td>Abdulah Al Masum</td>
                    </tr>
                    <tr>
                        <td>Raihan Epok</td>
                    </tr>
                    <tr>
                        <td>Anwarul Islam Munna</td>
                    </tr>
                    <tr>
                        <td>Nusrat Shoshi</td>
                    </tr>
                    <tr>
                        <td>Rashik Mahmud Anik</td>
                    </tr>
                    <tr>
                        <td>Samsia Matin</td>
                    </tr>
                    <tr>
                        <td>Homayra Nicky</td>
                    </tr>
                    <tr>
                        <td>Emon Emran</td>
                    </tr>
                    <tr>
                        <td>Shahin Shah</td>
                    </tr>
                    <tr>
                        <td>Tanvir Ahmed</td>
                    </tr>
                    <tr>
                        <td>Sunmoon Mohin</td>
                    </tr>
                    <tr>
                        <td>Shayekh Ahmed</td>
                    </tr>
                    <tr>
                        <td>Ashraful Hoque Jedni</td>
                    </tr>
                    <tr>
                        <td>Farhan Sadik</td>
                    </tr>
                    <tr>
                        <td>Sujan Mia</td>
                    </tr>
                    <tr>
                        <td>Sadrul Abrar</td>
                    </tr>

                </table>
                </p>


{% block body %}

{% endblock %}