{% load static %}
                <h2>2014-16</h2>
                <h3>Executives</h3>
                <p>
                <table style="width: 100%;">
                    <tr>
                        <td>Faiyaz Bin Sazzad</td>
                        <td>President</td>
                    </tr>
                    <tr>
                        <td>Reaz Rahman</td>
                        <td>General Secretary</td>
                    </tr>
                    <tr>
                        <td>Touhid Nobel</td>
                        <td>Vice-President</td>
                    </tr>
                    <tr>
                        <td>Nahin Shijit</td>
                        <td>Vice-President</td>
                    </tr>
                    <tr>
                        <td>Farheen Rahi</td>
                        <td>Treasurer</td>
                    </tr>
                    <tr>
                        <td>Ashiquel Hoque</td>
                        <td>Joint Secretary</td>
                    </tr>
                </table>
                </p> <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnsuathleticsclub%2Fposts%2F3444865812233389&show_text=false&width=500" width="500" height="281" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>


{% block body %}

{% endblock %}