
{% load static %}

<p>
    <table style="width: 100%;">
        <tr>
            <td>Newaz Noor-Ul Wahab</td>
            <td>President</td>
        </tr>
        <tr>
            <td>Ahmed Faisal</td>
            <td>General Secretary</td>
        </tr>
        <tr>
            <td>Syed Omar Sakif</td>
            <td>Vice-President</td>
        </tr>
        <tr>
            <td>Rayhan Mahmud</td>
            <td>Vice-President</td>
        </tr>
        <tr>
            <td>Rahinul Islam Mridul</td>
            <td>Treasurer</td>
        </tr>
        <tr>
            <td>Kowshiqur Rahman</td>
            <td>Head of Sub-EB</td>
        </tr>
    </table>
    </p>

{% block body %}

{% endblock %}