{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Panel 2013-14</h2>
            <h3>Executives</h3>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Newaz Noor-Ul Wahab</h5>
            <h6>President</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Ahmed Faisal</h5>
            <h6>General Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Syed Omar Sakif</h5>
            <h6>Vice-President</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Rayhan Mahmud</h5>
            <h6>Vice-President</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Rahinul Islam Mridul</h5>
            <h6>Treasurer</h6>
        </div>
        <div class="col-md-3 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Kowshiqur Rahman</h5>
            <h6>Head of Sub-EB</h6>
        </div>
        <div class="col-md-3 col-xs-12">
        </div>
    </div>
</div>

<div style="display:none;">
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnsuathleticsclub%2Fposts%2F3442110979175539&show_text=false&width=500" width="500" height="421" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>
</div>
{% block body %}
{% endblock %}
