{% load static %}
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Panel 2018-19</h2>
            <h3>Executives</h3>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Imtiaz Kabir</h5>
            <h6>President</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Syed Tanveer Mahmood</h5>
            <h6>General Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>AK Jilany</h5>
            <h6>Vice-President</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-female.jpg' %}" alt="female">
            <h5>Afroza Akhter</h5>
            <h6>Vice-President</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Khandokhar Fahim</h5>
            <h6>Treasurer</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Helal Uddin</h5>
            <h6>Joint Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Belal Uddin</h5>
            <h6>Joint Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Samiur Rahman</h5>
            <h6>Advisor</h6>
        </div>
    </div>
</div>
<div style="display:none;">
    <h3>Sub-Executives</h3>
    <p>
    <table style="width: 100%;">
        <tr>
            <td>Sayem Mahmud</td>
        </tr>
        <tr>
            <td>Imran Mahmud Sadman</td>
        </tr>
        <tr>
            <td>Abdulah Al Masum</td>
        </tr>
        <tr>
            <td>Raihan Epok</td>
        </tr>
        <tr>
            <td>Anwarul Islam Munna</td>
        </tr>
        <tr>
            <td>Nusrat Shoshi</td>
        </tr>
        <tr>
            <td>Rashik Mahmud Anik</td>
        </tr>
        <tr>
            <td>Samsia Matin</td>
        </tr>
        <tr>
            <td>Homayra Nicky</td>
        </tr>
        <tr>
            <td>Emon Emran</td>
        </tr>
        <tr>
            <td>Shahin Shah</td>
        </tr>
        <tr>
            <td>Tanvir Ahmed</td>
        </tr>
        <tr>
            <td>Sunmoon Mohin</td>
        </tr>
        <tr>
            <td>Shayekh Ahmed</td>
        </tr>
        <tr>
            <td>Ashraful Hoque Jedni</td>
        </tr>
        <tr>
            <td>Farhan Sadik</td>
        </tr>
        <tr>
            <td>Sujan Mia</td>
        </tr>
        <tr>
            <td>Sadrul Abrar</td>
        </tr>

    </table>
    </p>
</div>


{% block body %}

{% endblock %}
