{% load static %}
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Panel 2019-20</h2>
            <h3>Executives</h3>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Rashiq Mahmud</h5>
            <h6>President</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Sunmoon Mohin</h5>
            <h6>General Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Emon Emran</h5>
            <h6>Vice-President</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Sayem Mahmud</h5>
            <h6>Vice-President</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Shahin Shah</h5>
            <h6>Treasurer</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Anwarul Islam</h5>
            <h6>Joint Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-female.jpg' %}" alt="female">
            <h5>Samsia Matin</h5>
            <h6>Joint Secretary</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-female.jpg' %}" alt="female">
            <h5>Homayara Nicky</h5>
            <h6>Joint Secretary</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>AK Jilany</h5>
            <h6>Advisor</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Belal Uddin</h5>
            <h6>Advisor</h6>
        </div>
        <div class="col-md-3 col-xs-12">
        </div>
    </div>
</div>
<div style="display:none;">
    <h3>Sub-Executives</h3>
    <p>
    <table style="width: 100%;">
        <tr>
            <td>Yeasir Hossain</td>
        </tr>
        <tr>
            <td>Sabbir Hossain</td>
        </tr>
        <tr>
            <td>Shafiq Topu</td>
        </tr>
        <tr>
            <td>Miraz Ahmed</td>
        </tr>
        <tr>
            <td>Rifatul Siam</td>
        </tr>
        <tr>
            <td>Foysal Ahmed</td>
        </tr>
        <tr>
            <td>Rahul Halder</td>
        </tr>
        <tr>
            <td>Ramisa Anjuman</td>
        </tr>
        <tr>
            <td>Esha Binte </td>
        </tr>
        <tr>
            <td>Maliha Tasnim</td>
        </tr>
        <tr>
            <td>Faiyaz Hossain</td>
        </tr>
        <tr>
            <td>Hussainur Rahman Khan</td>
        </tr>
        <tr>
            <td>Abdullah Hel Tahmid</td>
        </tr>
        <tr>
            <td>Jahid Hasan Alvi</td>
        </tr>
        <tr>
            <td>Niloy Jaman</td>
        </tr>
        <tr>
            <td>Naimur Rahman</td>
        </tr>
        <tr>
            <td>Tahmid Sharaf</td>
        </tr>
        <tr>
            <td>Sajjad Hossain</td>
        </tr>
        <tr>
            <td>Atikul Islam Miron</td>
        </tr>
        <tr>
            <td>Ferdous Abdullah</td>
        </tr>
        <tr>
            <td>Mashrafy Sarker</td>
        </tr>
        <tr>
            <td>Hridoy Alam</td>
        </tr>
    </table>
    </p>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnsuathleticsclub%2Fposts%2F3464785346908102&show_text=true&width=500" width="500" height="764" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>

{% block body %}

{% endblock %}
