{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>Panel 2014-16</h2>
            <h3>Executives</h3>
        </div>
        <div class="col-md-4 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Faiyaz Bin Sazzad</h5>
            <h6>President</h6>
        </div>
        <div class="col-md-4 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Reaz Rahman</h5>
            <h6>General Secretary</h6>
        </div>
        <div class="col-md-4 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Touhid Nobel</h5>
            <h6>Vice-President</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Nahin Shijit</h5>
            <h6>Vice-President</h6>
        </div>
        <div class="col-md-4 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-female.jpg' %}" alt="female">
            <h5>Farheen Rahi</h5>
            <h6>Treasurer</h6>
        </div>
        <div class="col-md-4 col-xs-12 alumni">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>Ashiquel Hoque</h5>
            <h6>Joint Secretary</h6>
        </div>
    </div>
</div>
<div style="display:none;">
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnsuathleticsclub%2Fposts%2F3444865812233389&show_text=false&width=500" width="500" height="281" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>

{% block body %}

{% endblock %}
