{% extends 'base.html' %}
{% block body %}
{% load static%}


    <!-- ========================= ABOUT IMAGE =========================-->
<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="index.html"><img src="{% static 'images/responsive-logo.png' %}" class="responsive-logo img-fluid" alt="responsive-logo"></a>
            </div>
        </div>
         
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<!--//END ABOUT IMAGE -->
<!--============================= WELCOME TITLE =============================-->
<section class="welcome_about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>What we are</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    <br>
                    <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                    <a href="{% url 'all_events' %}" class="btn btn-default btn-about">VIEW OUR EVENTS</a>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/welcome-img.jpg' %}" class="img-fluid" alt="#">
                </div>
            </div>
        </div>
</section>
    <!--//END WELCOME TITLE -->
    <!--============================= TESTIMONIAL =============================-->
    <section class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Students Says</h2>
                </div>
                <div class="col-md-12">
                    <div class="single-item">
                        <div class="quote">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p class="quote_text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Printing and typesetting industry. It has survived not only five centuries.</p>
                            <div class="testi-img_block">
                                <img src="{% static 'images/testi-img.jpg' %}" class="img-fluid" alt="#">
                                <p><span>Student Name</span> Top rank holder</p>
                            </div>
                        </div>
                        <div class="quote">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p class="quote_text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Printing and typesetting industry. </p>
                            <div class="testi-img_block">
                                
                                <img src="{% static 'images/testi-img.jpg' %}" class="img-fluid" alt="#">
                                <p><span>Student Name</span> Top rank holder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END TESTIMONIAL -->
    
    
{% endblock %}