{% extends 'base.html'%}
{% block body %}
{% load static %}
<style type="text/css">
    body{
        font-weight: 500;
        text-align: justify;
        }
    a{
color: rebeccapurple;
        font-weight: 1000;
    }
    a:hover{
                color: #F2A922;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-0"></div>
        <div class="col-md-4 col-xs-12">
            <h1>All Events</h1>
        </div>
        <div class="col-md-4 col-xs-0"></div>


        <div class="row all_events">
            <div class="col-md-12 col-xs-12">
                <p>
                    <a href="{% url 'event_nfl' %}">NSU Football League (NFL)</a>: NFL is considered as one of the biggest sports battles among the clubs, as the winning club is hailed and respected by all. NFL has both male and female segments separately.
                    <br><br>

                    <a href="{% url 'event_batch_football' %}">NSU Intra Batch Football</a>: This tournament is a competition among the six recent batches of NSU. The batches are able to show off their skills as a team. The batches are chosen based on their admission year wise.
                    <br><br>
                    <a href="{% url 'event_ncl' %}">NSU Cricket League (NCL)</a>: NCL is a tournament where everyone affiliated with NSU are able to play and compete. It is divided into two segments. One is the battle among the clubs and the other is among the departments where faculties and staff participate.
                    <br><br>
                    <a href="{% url 'event_batch_cricket' %}">NSU Intra Batch Cricket</a>: This is similar to the intra batch football but here the category is Cricket and played as a classic T20 cricket style.
                    <br><br>
                    <a href="{% url 'event_shuttle_master' %}">NSU Shuttle Masters</a>: This is an intra-university badminton championship. A tournament divided into two segments where one is for the students and the other is for the faculties and staff of NSU. Participants can take part in different categories such as Men’s single, Women’s single, Men’s double, Women’s double and mixed doubles.
                    <br><br>
                    <a href="{% url 'event_table_tennis' %}">NSU Table-Tennis Champ</a>: This table tennis contest is similar to the badminton tournament. It is also divided into two parts, one for the students and another for faculties and NSU staffs. There are five categories. Men’s single, Women’s single, Men’s double, Women’s double and mixed doubles.
                    <br><br>
                    <a href="{% url 'event_chess_carrom' %}">NSU Carrom Champ</a>: This is an intra-university carrom competition. It consists of two segments one is single where participants compete individually and the other is double, where two players for each team compete against one another. Students register themselves beforehand, in order to participate.
                    <br><br>
                    <a href="{% url 'event_chess_carrom' %}">NSU Chess Master</a>: This is also a tournament held inside the varsity and played among the NSU students. The students need to register within the allocated time. A number of rounds take place before choosing the winner. The famous Chess Master of Bangladesh, Miss Rani Hamid, had visited the finals of the 2019 championship.
                    <br><br>
                    <a href="{% url 'event_tryouts' %}">NSU Tryouts</a>: This is a selection among the athletes of NSU who compete to make it to the NSU Team, which represents NSU in extramural sports competition in different sports such Football, Basketball, Cricket, Badminton, Table Tennis, etc. Professional and experienced players select and coach the respected teams.
                    <br><br>
                    <a href="http://www.nsusportscarnival.com/">NSU Inter-Private University Sports Carnival</a>: This event has earned fame for its magnificence and grandeur. It was the first time such a sports event has been organized with the participation of 93 private universities all around Bangladesh. This mega event has been considered one of the biggest sports carnivals in the country. It has been a 15-day long and competitive journey of five different sports —Cricket, Football, Basketball, Table Tennis, and Badminton, with both male and female participation. The authority of North South University has directly supervised the sports carnival.
                    <br><br>
                    For completion of every event with utmost glory, NSUAC organizes grand closing ceremonies where the winners are recognized for their talents known as the “Night and of the Knights.” These ceremonies are graced by the presence of influential figures such as political leaders, famous celebrities, and business tycoons. Cultural Programs, where general members of NSUAC perform, are also included as a part of the ceremonies. Concerts are also held to add spark and make a memorable event for all.
                    <br><br>
                    <br><br>
                    Organizing all these events every year requires a great amount of hard work and determination. Members are recruited for the club thrice every year, at the beginning of each semester. They are interviewed personally and the most diligent ones are selected to be a part of the journey of NSUAC. NSUAC welcomes and embraces its members with warmth and love.
                    <br><br>
                    Being one of the first clubs of NSU, North South University Athletics Club is now running on full throttle and trying to develop at every single step and carry its legacy forward. The efficient members work their heart out to uphold and protect the glory of the name <br><a href="{% url 'home' %}" style="font-size:2vw">“North South University Athletics Club”.</a>

                </p>

            </div>
        </div>
    </div>
</div>



{% endblock %}
