{% extends 'base.html' %}
{%  block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2 style="text-align: center;"> Intra NSU Chess Master & Carrom Champs </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="d-block" src="{% static 'images/events/ChessCarrom2019/ChessCarromBanner.jpg' %}" alt="Banner" style="width: 100%; height: 30vw;">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><br>NSU Athletics Club has always aimed to be the finest when it comes to displaying the hidden talents of the university students through exciting events and intends to find out more sports-minded and talented players through modernist events to continue the legacy of the sports fraternity. To follow the endowment for the very first Time in NSU history NSU Athletics Club organized Intra NSU Chess Master & Carrom Champ 2019 in the NSU premises for the chess and carrom enthusiasts. The event consists of two segments, i.e, the Chess tournament and the Carrom tournament.</p>
        </div>
    </div>

    <div class="row" id="reg">
        <div class="col-md-6">
            <p>
                Both tournaments used the Round Robin System to play their games. Individual participants took part in the chess event. However, in the Carrom event, players must first form a two-person team before they can compete. Both competitions are mixed gender, meaning they are available to both men and women.
                <br>
                Players can take part in any of the event's segments. To participate in the event, players must first register, and the registration process in that event was based on a first-come, first-served basis.
                <br>
                The registration process was held on 12th June 2019 & 13th June 2019 (10:30 AM - 05:30 PM) at the Plaza area. <br>
                The event was started on 14th June 2019 at the NSU Indoor and conclude on 18th June 2019.
            </p>
        </div>
        <div class="col-md-6">
            <img class="d-block" src="{% static 'images/events/ChessCarrom2019/ChessCarromReg.png' %}" alt="Banner" style="width: 100%;"><br>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLdHtGlNILI6hsRZQI5ssd2yephREF1UmO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>

</div>

{% endblock %}
