{% extends 'base.html' %}
{%  block body %}
{% load static %}

<style>
    p{
        text-align: justify;
    }
    h2{
        text-align: center; 
        margin: 10px 10px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Fit For Future </h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <p>
                North South University Athletics Club organized a live webinar titled Fit For Future (FFF) during the Covid-19 pandemic every Thursday in June and July of 2020. Fit for Future is one of a kind where renowned guests from various streams were invited. They were invited to share their experiences, daily routine, valuable words to the public, and some medical tips and fitness tips for the people affected by Covid-19. NSUAC organized this webinar to strengthen both our mental and physical health during the Covid-19 outbreak.</p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLdHtGlNILI6gNQ6iWXpi4H3gmvHiHLYbO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <p>
                There were six episodes of Fit For Future held on 25th June, 2nd July, 9th July, 16th July, 23rd July, and 30th July in 2020. The guest list consisted of a fitness trainer, a celebrity, a doctor, and a recovered Covid patient, the Corona survivor.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                In each episode, the fitness trainers gave us fitness tips to boost our immune system to stay healthy during the Covid-19 pandemic, the celebrities gave us ideas about how to stay physically fit during the Covid situation and how to maintain a healthy life, the doctors told us the dos and don'ts during the infection of Coronavirus, and the corona survivors discussed how to get rid of Coronavirus and stay mentally strong. During the webinars, the audience asked the respective guests for solutions to their problems. As guest speakers, we had Miss Azra Mahmood – celebrity, Mehedul Karim – PPM, commandant (SP), Miss Jessia Islam – Miss world Bangladesh 2017, Ridy Sheikh – Amazing dancer and choreographer, and many notable personalities. Episode 5 was the player's special episode. Cricketer Sabbir Rahman, Ex-Football Captain Mamunul Islam Mamun, Anisur Rahman Zico, and Md. Mohsin, the pride of Bangladesh National 
Teams, attended the webinar as guests.
                Fit For Future live webinars helped ordinary people stay happy, be physically and mentally strong with families
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">

        <div class="col-md-12">

        </div>


    </div>
</div>


{% endblock %}
