{% extends 'base.html' %}
{%  block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;">Fit For Future </h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <p>
                North South University Athletics Club is the only club of NSU that organized this type of Facebook live webinar, which is called, fit for Future during the Covid-19 outbreak. Fit for Future was the one kind of online webinar organized by NSUAC where different kinds of guests came who are well known, renowned, and represent the country to the world. They were invited to share their experiences, life routine, valuable words to the public, and some medical tips, fitness tips for the people who were affected by Covid-19. NSUAC organized this type of Facebook live webinar to strengthen both our mental and physical health during the Covid-19 outbreak.</p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <p>
                There were in total 6 Episodes of Fit For Future which were held on 25th June, 2nd July, 9th July, 16th July, 23rd July, and 30th July in 2020. All the episode of FFF was at 8 pm on Thursday night. Among the guest of all episodes, there was a Fitness Trainer, a well-known celebrity, a doctor, and a recovered Covid patient who was the Corona survivor actually.
                Whole over the episode Fitness Trainers gave us their Fitness tips to boost our immune system to stay healthy during Covid-19, Well known Celebrities gave us ideas about how to stay physically fit during the Covid situation and how to maintain a healthy life, Doctors gave us the idea of dos and don’ts during the infection of Coronavirus and also discussed the covid situation of Bangladesh and finally corona survivors discussed how to survive from Coronavirus and stay mentally strong at that time. In every episode, the public asked their valuable questions or inquiry and respective guests gave them solutions for their problems.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                In these 6 episodes, we had amazing guests like Miss Azra Mahmood – celebrity, Mehedul Karim – PPM, commandant (SP), Miss Jessia Islam – Miss world Bangladesh 2017, Ridy Sheikh – Amazing dancer and choreographer, and many amazing personalities. Episode 5 was the player special episode and guests were Sabbir Rahman, Mamunul Islam Mamun, Anisur Rahman Zico, and Md. Mohsin and they are the pride of the Bangladesh National teams.
                So, this Fit For Future event helped a lot of the public to stay happy, physically and mentally strong with families.

            </p>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLdHtGlNILI6gNQ6iWXpi4H3gmvHiHLYbO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


    </div>
</div>


{% endblock %}
