{% extends 'base.html' %}

{% block body %}
{% load static %}
    <!--============================= HEADER =============================-->
    <section>
    
    <div class="slider_img">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                        <img class="d-block" src="{% static 'images/up-coming.jpg' %}" alt="First slide">
                    <div class="carousel-caption d-md-block">
                        <div class="slider_title">
                            <h1>BBS'21</h1>
                            <h4>Proactively utilize open-source users for process-centric total linkage.<br> Energistically reinvent web-enabled initiatives with premium <br>processes. Proactively drive.</h4>
                            <div class="slider-btn">
                                <a href="#" class="btn btn-default">Up Coming Events</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item ">
                  
                    <img class="d-block" src="{% static 'images/slider.jpg' %}" alt="First slide">
                    <div class="carousel-caption d-md-block">
                        <div class="slider_title">
                            <h1>Club Life @ NSUAC</h1>
                            <h4>Proactively utilize open-source users for process-centric total linkage.<br> Energistically reinvent web-enabled initiatives with premium</h4>
                            <div class="slider-btn">
                                <a href="{% url 'all_events' %}" class="btn btn-default">SEE Events</a>
                                <a href="{% url 'about' %}" class="btn btn-default">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                  
                    <img class="d-block" src="{% static 'images/slider-2.jpg' %}" alt="Second slide">
                    <div class="carousel-caption d-md-block">
                        <div class="slider_title">
                            <h1>Flag Bearers</h1>
                            <h4>Proactively utilize open-source users for process-centric total linkage.<br> Energistically reinvent web-enabled initiatives with premium</h4>
                            <div class="slider-btn">
                                <a href="{% url 'all_events' %}" class="btn btn-default">See Events</a>
                                <a href="{% url 'about' %}" class="btn btn-default">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                  
                    <img class="d-block" src="{% static 'images/slider-3.jpg' %}" alt="Third slide">
                    <div class="carousel-caption d-md-block">
                        <div class="slider_title">
                            <h1>Achievements</h1>
                            <h4>Proactively utilize open-source users for process-centric total linkage.<br> Energistically reinvent web-enabled initiatives with premium</h4>
                            <div class="slider-btn">
                                <a href="{%url 'club_life'%}" class="btn btn-default">Club Life</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <i class="icon-arrow-left fa-slider" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <i class="icon-arrow-right fa-slider" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
</section>
<!--//END HEADER -->
<!--============================= ABOUT =============================-->
<section class="clearfix about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Born in 1995, North South University Athletics Club or popularly known as NSUAC is the 1st and ONLY club as well as organization that Promotes, Organizes and Controls ALL THE SPORTING ACTIVITIES of North South University.
                    
                    <img src="{% static 'images/welcom_sign.png' %}" class="img-fluid" alt="welcom-img">
                </div>
            </div>
        </div>
    </section>
    <!--//END ABOUT -->
    <!--============================= OUR Events =============================-->
    <section class="our_courses">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="courses_box mb-5">
                        <div class="course-img-wrap">
                          
                            <img src="{% static 'images/event_SC.png' %}" class="img-fluid" alt="Sports Carnival">
                            <div class="courses_box-img">
                                <div class="courses-link-wrap">
                                    <a href="www.nsusportscarnival.com/" class="course-link"><span>Event Details </span></a>

                                </div>
                                <!-- // end .courses-link-wrap -->
                            </div>
                        </div>
                        <!-- // end .course-img-wrap -->
                        <div class="courses_icon">
                            <img src="{% static 'images/plus-icon.png' %}" class="img-fluid close-icon" alt="plus-icon">
                        </div>
                        <a href="course-detail.html" class="course-box-content">
                            <h3>Inter Private University Sports Carnival</h3>
                            <p>When an unknown printer took a galley...</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="courses_box mb-5">
                        <div class="course-img-wrap">
                         
                            <img src="{% static 'images/event_NFL.png' %}" class="img-fluid" alt="NFL">
                            <div class="courses_box-img">
                                <div class="courses-link-wrap">
                                    <a href="course-detail.html" class="course-link"><span>Event Details </span></a>
                                    
                                </div>
                                <!-- // end .courses-link-wrap -->
                            </div>
                        </div>
                        <!-- // end .course-img-wrap -->
                        <div class="courses_icon">
                          
                            <img src=" {% static 'images/plus-icon.png' %}" class="img-fluid close-icon" alt="plus-icon">
                        </div>
                        <a href="course-detail.html" class="course-box-content">
                            <h3>NFL</h3>
                            <p>When an unknown printer took a galley...</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="courses_box mb-5">
                        <div class="course-img-wrap">
                          
                            <img src="{% static 'images/event_NCL.png' %}" class="img-fluid" alt="NCL">
                            <div class="courses_box-img">
                                <div class="courses-link-wrap">
                                    <a href="course-detail.html" class="course-link"><span>Event Details </span></a>

                                </div>
                                <!-- // end .courses-link-wrap -->
                            </div>
                        </div>
                        <!-- // end .course-img-wrap -->
                        <div class="courses_icon">
                          
                            <img src="{% static 'images/plus-icon.png' %}" class="img-fluid close-icon" alt="plus-icon">
                        </div>
                        <a href="course-detail.html" class="course-box-content">
                            <h3>NCL</h3>
                            <p>When an unknown printer took a galley...</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="courses_box mb-5">
                        <div class="course-img-wrap">
                         
                            <img src="{% static 'images/event_BBS.png' %}" class="img-fluid" alt="IBF">
                            <div class="courses_box-img">
                                <div class="courses-link-wrap">
                                    <a href="course-detail.html" class="course-link"><span>Event Details </span></a>

                                </div>
                                <!-- // end .courses-link-wrap -->
                            </div>
                        </div>
                        <!-- // end .course-img-wrap -->
                        <div class="courses_icon">
                          
                            <img src=" {% static 'images/plus-icon.png' %}" class="img-fluid close-icon" alt="plus-icon">
                        </div>
                        <a href="course-detail.html" class="course-box-content">
                            <h3>BBS</h3>
                            <p>When an unknown printer took a galley...</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'all_events' %}" class="btn btn-default btn-courses">View all Events</a>
                </div>
            </div>
        </div>
    </section>
    <!--//END OUR EVENTS -->
    <!--============================= EVENTS =============================-->
    <section class="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Upcoming Events</h2>
                    <div class="event-img">
                        <span class="event-img_date">25-Aug-21</span>
                        
                        <img src="{% static 'images/up-coming.jpg' %}" class="img-fluid" alt="event-img">
                        <div class="event-img_title">
                            <h3>BBS'21</h3>
                            <p>..Presents Banghabandu Battle of Skills 21 organized by NSUAC ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2>Important Dates</h2>
                    <div class="event-date-slide">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event_date">
                                    <div class="event-date-wrap">
                                        <p>21</p>
                                        <span>Jul.21</span>
                                    </div>
                                </div>
                                <div class="date-description">
                                    <h3>Eid Ul Adha</h3>
                                    <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book ...</p>
                                    <hr class="event_line">
                                </div>
                                <div class="event_date">
                                    <div class="event-date-wrap">
                                        <p>15</p>
                                        <span>Aug.21</span>
                                    </div>
                                </div>
                                <div class="date-description">
                                    <h3>National Mourning Day</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever...</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event_date">
                                    <div class="event-date-wrap">
                                        <p>27</p>
                                        <span>Aug.21</span>
                                    </div>
                                </div>
                                <div class="date-description">
                                    <h3>BBS'21 Registration Starts.</h3>
                                    <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book ...</p>
                                    <hr class="event_line">
                                </div>
                                <div class="event_date">
                                    <div class="event-date-wrap">
                                        <p>02</p>
                                        <span>Sep.21</span>
                                    </div>
                                </div>
                                <div class="date-description">
                                    <h3>BBS'21 Registration Ends</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever...</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event_date">
                                    <div class="event-date-wrap">
                                        <p>09</p>
                                        <span>Sep.21</span>
                                    </div>
                                </div>
                                <div class="date-description">
                                    <h3>Prize Giving Ceremony of BBS'21</h3>
                                    <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book ...</p>
                                    <hr class="event_line">
                                </div>
                                <div class="event_date">
                                    <div class="event-date-wrap">
                                        <p>05</p>
                                        <span>Oct.21</span>
                                    </div>
                                </div>
                                <div class="date-description">
                                    <h3>National Teachers Day</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END EVENTS -->
    <!--============================= DETAILED CHART =============================-->
    <div class="detailed_chart">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 chart_bottom">
                    <div class="chart-img">
                        <img src="{% static 'images/chart-icon_1.png' %}" class="img-fluid" alt="chart_icon">
                    </div>
                    <div class="chart-text">
                        <p><span class="counter">7</span> Executive Body Members</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 chart_bottom chart_top">
                    <div class="chart-img">
                        <img src="{% static 'images/chart-icon_2.png' %}" class="img-fluid" alt="chart_icon">
                    </div>
                    <div class="chart-text">
                        <p><span class="counter">250 </span> Members  </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 chart_top">
                    <div class="chart-img">
                      
                        <img src="{% static 'images/chart-icon_3.png' %}" class="img-fluid" alt="chart_icon">
                    </div>
                    <div class="chart-text">
                        <p><span class="counter">10</span> Events
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="chart-img">
                      
                        <img src="{% static 'images/chart-icon_4.png' %}" class="img-fluid" alt="chart_icon">
                    </div>
                    <div class="chart-text">
                        <p><span class="counter">26</span> Years Exp.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//END DETAILED CHART -->
    <!--============================= OUR BLOG =============================-->
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Blog</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <a href="blog-post.html" class="home_blog_link">
                        <div class="blog-img_box">
                          
                            <img src="{% static 'images/bd-fixture.jpg' %}" class="img-fluid blog_display" alt="blog-img">
                            <div class="blogtitle">
                                <h3>BAN VS ZIM Fixture</h3>
                                <i class="icon-user fa-common" aria-hidden="true"></i>
                                <p>by: admin</p>
                                <i class="icon-speedometer fa-common" aria-hidden="true"></i>
                                <p>7- Jul-2021</p>
                                <p style="text-align: justify;">
                                    বাংলাদেশের লাখো ক্রিকেট ভক্তদের দীর্ঘ অপেক্ষার অবসান ঘটিয়ে আজ টাইগাররা মাঠে নামছে
                                     জিম্বাবুয়ে সফরের প্রথম টেস্ট ম্যাচে। বাংলাদেশ আরও খেলবে তিন টি ওয়ানডে ইন্টারন্যাশনাল 
                                     ও তিন টি টি২০ ইন্টারন্যাশনাল ম্যাচ। ....
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="blog-post.html" class="home_blog_link">
                        <div class="blog-img_box">
                          
                            <img src="{% static 'images/blog-img_2.jpg' %}" class="img-fluid blog_display" alt="blog-img">
                            <div class="blogtitle">
                                <h3>Variations of passages</h3>
                                <i class="icon-user fa-common" aria-hidden="true"></i>
                                <p>by: admin</p>
                                <i class="icon-speedometer fa-common" aria-hidden="true"></i>
                                <p>9- Nov-2016</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="blog-post.html" class="home_blog_link">
                        <div class="blog-img_box">
                          
                            <img src="{% static 'images/blog-img_3.jpg' %}" class="img-fluid blog_display" alt="blog-img">
                            <div class="blogtitle">
                                <h3>Lorem Ipsum passage</h3>
                                <i class="icon-user fa-common" aria-hidden="true"></i>
                                <p>by: admin</p>
                                <i class="icon-speedometer fa-common" aria-hidden="true"></i>
                                <p>9- Nov-2016</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="blog-post.html" class="home_blog_link">
                        <div class="blog_hide">
                            <i class="icon-link" aria-hidden="true"></i>
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy...</p>
                            <div class="blogtitle-link">
                                <i class="icon-user fa-common" aria-hidden="true"></i>
                                <p>by: admin</p>
                                <i class="icon-speedometer fa-common" aria-hidden="true"></i>
                                <p>9- Nov-2016</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="blog-post.html" class="home_blog_link">
                        <div class="blog-img_box">
                            <div class="blog-video">
                              
                                <div class="blog-play_btn"> <img src="{% static 'images/play-btn.png' %}" alt="play-btn"> </div>
                                <img src="{% static 'images/blog-img_4.jpg' %}" class="img-fluid blog_display" alt="blog-img">
                            </div>
                            <!-- // end .blog-video -->
                            <div class="blogtitle">
                                <h3>Nam libero tempore</h3>
                                <i class="icon-user fa-common" aria-hidden="true"></i>
                                <p>by: admin</p>
                                <i class="icon-speedometer fa-common" aria-hidden="true"></i>
                                <p>9- Nov-2016</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-default btn-courses">VIEW ALL BLOG</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Sponsor part-->
    <section>
        <!-- alvi change it to sponsor_part from detailed_chart  in css file 
        also changes the background images(give some color in background and add title(our preivous sponsor))
    -->
        <div class="detailed_chart">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="sponsor_head">Our Previous Sponsors</h2>
                </div>
            </div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img src="{% static 'images/footer-logo.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    
    </section>
        
{% endblock %}