{% extends 'base.html' %}
{% block body %}
{% load static %}

<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Messages</h2>
            </div>
            <div class="col-md-12">
                <div class="single-item">
                    <div class="quote">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p class="quote_text">There is nothing like the camaraderie that one has with fellow drinkers. It’s NSUAC you never
                            leave once you join. Well, willingly or easily</p>
                        <div class="testi-img_block">
                            <img src="{% static 'images/others/vc.jpg' %}" class="img-fluid" alt="#">
                            <p><span>Pro. </span>  Vice Chancellor</p>
                        </div>
                    </div>
                    <div class="quote">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p class="quote_text">In NSUAC I found the companions I needed to make my university life memorable and
                            meaningful.</p>
                        <div class="testi-img_block">
                            
                            <img src="{% static 'images/others/provc.jpg' %}" class="img-fluid" alt="#">
                            <p><span>Pro. Dr. M. Ismail Hossain </span>Pro Vice-Chancellor</p>
                        </div>
                    </div>

                    <div class="quote">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p class="quote_text">In NSUAC I found the companions I needed to make my university life memorable and
                            meaningful.</p>
                        <div class="testi-img_block">
                            
                            <img src="{% static 'images/others/ggg.jpg' %}" class="img-fluid" alt="#">
                            <p><span>Pro. </span>Director of Student Affairs</p>
                        </div>
                    </div>

                    <div class="quote">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p class="quote_text">In NSUAC I found the companions I needed to make my university life memorable and
                            meaningful.</p>
                        <div class="testi-img_block">
                            
                            <img src="{% static 'images/hme.png' %}" class="img-fluid" alt="#">
                            <p><span>Mehedi Hasan </span>Faculty Advisor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}