{% extends 'base.html' %}
{% block body %}
{% load static %}

<section class="clearfix about bg_hridoy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Message From Vice Chancellor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Born in 1995, North South University Athletics Club or popularly known as NSUAC is the 1st and ONLY club as well as organization that Promotes, Organizes and Controls ALL THE SPORTING ACTIVITIES of North South University.

            </div>
        </div>
    </div>
</section>

<section class="clearfix about bg_hridoy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Message From Pro Vice Chancellor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Born in 1995, North South University Athletics Club or popularly known as NSUAC is the 1st and ONLY club as well as organization that Promotes, Organizes and Controls ALL THE SPORTING ACTIVITIES of North South University.

            </div>
        </div>
    </div>
</section>

<section class="clearfix about bg_hridoy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Message From Dir. of Student Affairs </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Born in 1995, North South University Athletics Club or popularly known as NSUAC is the 1st and ONLY club as well as organization that Promotes, Organizes and Controls ALL THE SPORTING ACTIVITIES of North South University.

            </div>
        </div>
    </div>
</section>

<section class="clearfix about bg_hridoy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Message From Faculty Advisor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Born in 1995, North South University Athletics Club or popularly known as NSUAC is the 1st and ONLY club as well as organization that Promotes, Organizes and Controls ALL THE SPORTING ACTIVITIES of North South University.

            </div>
        </div>
    </div>
</section>

{% endblock %}