{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    h2,h5,h6{
        text-align: center;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Team NSU Cricket</h2>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
</div>

{% endblock %}