{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teamsStyle.css' %}">
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Team NSU Basketball</h2>
        </div>
    </div>


    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static 'images/HallOfFame/pp-male.jpg' %}" alt="male">
            <h5>name</h5>
            <h6>batch</h6>
        </div>
    </div>
</div>

{% endblock %}