{% extends 'base.html' %}
{% block body %}
{% load static %}


<!--============================= Teachers Single =============================-->
<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center;">Faculty Advisor</h1>
    </div>
</div>

<div class="teachers-single">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="teachers-img_block">
                    <img src="{% static 'images/hme.png' %}" class="img-fluid" alt="#">
                    <div class="teachers-title_block">
                        <h4><strong>Mehedi Hasan</strong></h4>
                        <h6><strong>Senior Lecturer</strong></h6>
                        <h6>M.A., University of Birmingham, UK</h6>
                        <h6>CELTA, University of Cambridge, UK</h6>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100007286166013"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="teacher-profile_block qualification_detaile">

                            <p class="p_details">
                                A strong quality of teaching English to the speakers of other languages, 
                                which is certified by the University of Cambridge, and a master degree in
                                 the field of applied linguistics obtained from the University of
                                  Birmingham have made me an articulate and confident ESL teacher 
                                  with excellent interpersonal and communication skills. Besides, 
                                  my recent research experiences in the field of academic discourse 
                                  have provided me with the chances to further enhance my English language
                                   teaching skills which will help me carry on more research work
                                 in the arena of English linguistics and its applied fields.
                            </p>

                            <h4>Education</h4>
                            <ul>
                                <li><span>*</span>MA in Applied Linguistics, University of Birmingham, UK</li>
                                <li><span>*</span>Certificate in English Language Teaching to Adults, University of Cambridge, UK</li>
                                <li><span>*</span>BA(Hon’s) in English, North South University, Bangladesh</li>
                            </ul>

                        <!-- <h3>Luise, Dennison, DDS, MS, phD </h3>
                        <span>Syllabus : Economics, Marketing & Finance</span>
                        <p>There are many variations of passages of Lorem Ipsum available</p> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="teacher-profile_block qualification_detaile">
                       <h4 class="mt-4">Professional Experiance</h4>
                       <div class="row">
                           <div class="col-md-6">
                               <div class="personal">
                                <h6><strong>Full-time Faculty Member, Department of English & Modern Languages</h6>
                                <h6><i>North South University, Dhaka</i></h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="experiance">
                            <h6><strong>Faculty Advisor</strong></h6>
                            <h6><i>NSUAC</i></h6>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="teacher-profile_block qualification_detaile">
                <ul>
                    <li><span>*</span>Conducting the EAP classes for university students</li>
                    <li><span>*</span>Teaching courses related to linguistics</li>
                    <li><span>*</span>Preparing lesson plans, lecture materials</li>
                    <li><span>*</span>Evaluating students’ assignments and written works</li>
                    <li><span>*</span>Actively participating in research and as well as university events</li>
                </ul>
            </div>
        </div>
    </div>

    

    
</div>
</div>
</div>
</div>
<!--//End Teachers Single -->

{% endblock %}