h2,h5,h6{
        text-align: center;
    }

.container .row .infoBox{
        border: 1px solid rgb(114 113 113);
        max-width: 23%;
        margin: 1%;
}
.card-img{
        height: 160px;
        object-fit: contain;
}
@media (max-width: 992px) {
        .container .row .infoBox{
                  border: 1px solid rgb(114 113 113);
                  max-width: 45%;
                  margin: 2%;
        }
        .card-img{
                width: 240px;
        }
}

@media (max-width: 767px){
          .container .row .infoBox{
        border: 1px solid rgb(114 113 113);
        max-width: 90%;
        margin: 3%;
        }
}