{% extends 'base.html' %}
{% block body %}
{% load static %}

<h2> activity one :: internal Tournements</h2>
<p>The North-South University Athletics Club (NSUAC) organizes numerous splendor events throughout the year. Among those events, the Club members' favorite is the Internal Tournaments. This event is a reunion since all the club members of the NSUAC, along with the alumni, participate with great enthusiasm. <br>
For the NSUAC Internal Tournament, two groups are separated: one for the boys and the other for the girls. From the pool of boys and girls, managers are selected, who then get the chance to create their respected team by choosing the players through an intense live auction. After compilations of teams, the event runs for about a week. Each day two matches took place and finally after the group stage following the semis and finals. The members enjoy this tournament, and the Internal Tournament is one event all the members long for.
</p>
{% endblock %}
