{% extends 'base.html' %}
{%  block body %}
{% load static %}
<style>
    h2{
        text-align: center;
    }
    .coming_soon_img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>
    <h2> NSU Tryouts </h2>
    <p>NSU Tryouts is an opportunity for all the NSUers to join the preliminary NSU Sports Teams in Cricket, Football, Basketball, Badminton, and Table Tennis. For the first time in NSU history, North South University Athletics Club organized this event in 2019.  NSUers selected in the preliminary NSU Sports Teams were nurtured throughout a year under quality coaches and prepared to participate in different inter-university tournaments. In the same year, players were sent to the inter-university matches from those preliminary teams. Other than NSU Cricket Team, the rest of the four sports teams had a male team and a female team. The primary teams were selected under the direct supervision of renowned coaches of respective sports. Cricket and Football tryouts were held in the Uttara Units Armed Police Battalion (APBN) field, and Basketball, Badminton, and Table Tennis were held in NSU Indoor Playground.
The registration procedure, selection dates, schedules, and venues were updated gradually on the event page. The registration took place at the plaza area from 22nd August 2019. NSUers was also able to register online.
The last date for the registration was 24th August 2019, and the date for NSU Tryouts 2019 is from 25th August 2019 to 27th August 2019.
</p>

    <div class="container coming_soon_img">
        <img src="{% static 'images/others/coming_s.jpg' %}" alt="">
    </div>
{% endblock %}