{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teamsStyle.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sub Executive Members</h2>
        </div>
    </div>
    <div class="row">
        {% for i in sub reversed %}
        <div class="col-xs-12 col-sm-3 col-md-3 infoBox">
            <div class="card">
                <img src="{{i.s_image.url}}" class="card-img" alt="Sub-EB">
                <h5>{{i.s_name}}</h5>
                <h6>{{i.s_major}}: {{i.s_batch}}</h6>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
